

*,
::before,
::after {
  box-sizing: border-box;
}


:root {
  --primary:#0a0a0aff;
  --secondary:#1a181aff;
  --tertiary: #505050ff;
  --quaternary: #d1342fff;;
  --quinary: #434038ff;;
  --text:  #eee3c1ff;;
}


.body {
   padding: 0;
   margin: 0; 
   background-color: var(--secondary);

}



h1 {
  margin: 0;
  font-style: "Open Sans", "sans-serif";
  color: var(--text);
}

h3 {
  margin: 0;
  text-align:center;

}

p {
  font-style: 'Open Sans';
  font-size:16px;
  padding: 2px;
  margin: 0;
  color: var(--text);
 
}

/* container */
.container {

  background-color: var(--primary);
}

/*hero   */

#hero {
 
  font-family: 'Open Sans', sans-serif;
  height: 500px;
  width: 100%;

    
}
.hero-name{
  font-style: 'Open Sans';
  font-size:42px;
  font-weight:400;
  color: var(--text);
  text-shadow: 2px 2px #000000;
  padding-top:100px;
}
.hero-text{
  font-style: 'Open Sans';
  font-size:28px;
  font-weight:300;
  color:  var(--text);
  text-shadow: 2px 2px #000000;
}


.hero-content {
  text-align: center;
  padding-top:5.5rem;
 
 }

#name-logo {
  border: none;
  float: left;
  position: absolute;
  height: 8.125rem;
  width: 8.125rem;
  margin-left: 2.5rem;
}



/* Gallery */

#gallery {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding-bottom: 5rem;
  overflow: hidden;

}


.portrait {
  padding: 1.25rem;
 
}

.p1 {
 width:100%;
}

.p2, .p3 {
width: 50%;
}
.myImg {
  width: 100%;
  border-radius: 1.5rem;
}



/*Bio*/
#bio {
 
  height: 100%;
  width: 100%;
  padding-top:6rem;
  padding-bottom: 6rem;
  
}


.bio-content {
  text-align:center;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  text-shadow: 1px 1px black;
  
  
}

.bio-content > h1 {
  font-size: 2.875rem;

  
}

.bio-content > p {
  padding-top: 1.5rem;
  font-size:26px;
 
}

#stupid {
  color: var(--quaternary);
}

 /*   Project */
#project {
  height:auto;
  width:100%;
  background-color:var(--primary);
}


.project-title {
  display:grid;
  text-align:center;
  grid-template-columns: 1fr;
  padding-top: 50px;
  font-size: 2.875rem;
  text-shadow: 1px 1px black;
}

.card-box {
  display: grid;
  
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  padding: 2.5rem;

}

.card {
  display:grid;
  background-color: var(--quinary);  
  padding: 10px;
  padding-top:30px;
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.9);
  border-radius: 15px;
  padding-bottom: 20px;
}




.card-title {
  color:var(--text);
  font-size: 1.5rem;
  text-shadow: 1px 1px black;
}

.card-text {
  text-align:center;
  padding: 0.3rem;
  height: 9rem;
  padding-top:.6rem;
  text-shadow: 1px 1px black;
 
}

.card-btn {

  height: auto;
  margin: 0;
  border-radius: .2rem;
  border: black;
  width: 100%;
  background-color:var(--quaternary);
  font-size: 12px;
  box-shadow:2px 2.5px rgba(0,0,0, 0.3);

  
}

.card-btn:hover {
 font-size: 16px;
}




 /* notes */

#notes {

  height: auto;
  width:100%;
  text-align:center;
}




/* Contact */
#contact {
    height: auto;
    width: 100%;
    padding-bottom: 1.87rem;
}

.contact-content {
  text-align: center;
  }   
  
  
#contact-title {
  font-style:"Roboto";
  font-size: 2.875rem;
  padding-top:.938rem;
  text-shadow: 2px 2px black;
  }
  
  #icons {
    padding-top:0.625;
    padding-bottom: 1.875rem;
    color:var(--text);
    font-size:1.5rem;
    text-shadow: 2px 2px black;
  }
      

.return-content {
    font-style: 'Roboto';
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.return-content:hover {
    font-style: 'Roboto';
    color: gray;
    font-size: 20px;
}

/* footer */

#return {
    height: 8rem;
    width: 100%;
    text-align:center;
    
}

.fa-arrow-up {
  color:var(--text);
  text-shadow: 2px 2px black;
  font-size: 2rem;
}


.fa-arrow-up:hover {
  font-size:2.5rem;
}


/* Content positiong  */


.navbar-content {
    font-size: 18px;
    float:right;
    padding-right:50px;
    padding-top:45px;
    
}




#nav ul li {
  list-style-type:none;
  display:flex; 
}
ul {
margin: 0;
padding: 0;
overflow: hidden;
}

/*Content style */

.nav-icon {
    width: 1.875rem;
    height: 0.223rem;
    background-color: var(--tertiary);
    margin: 4px 0;
  }




/* Curtain menu from w3 schools */

 /* The Overlay (background) */
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  



 