

*,
::before,
::after {
  box-sizing: border-box;
}


.body {
    padding: 0;
    margin: 0; 
    font-family:'Farro', sans-serif;
      background-color: var(--secondary);
}


:root {
  --primary:#3F576B;
  --secondary:#8FC6F2;
  --tertiary: #53728C;
}
/* nav bar*/


/* Container positiong */
.container {

 gap: 0px;
}

h1 {
    margin: 0;
}

#hero {
  background-color: var(--primary);
    font-family: 'Roboto', sans-serif;
    height: 400px;
    width: 100%;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 120px;
    
}

#bio {
  background-color: var(--secondary);
    height: 500px;
    width: 100%;
  
    
    
    /* border-top-right-radius: 40px;
    border-top-left-radius: 40px;
   */
}


#skill {
    background-color: var(--primary);
    height: 600px;
    width: 100%;
    
}


#table {
  
  height:400px;
  width: 90%;
  margin-top: 100px;
  margin-bottom:80px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  background-color:white;
  
  position: relative;
}


#center-contact {
  height:400px;
  width:100%;
  background-color: var(--tertiary);;
}


#project {
  height:400px;
  width:100%;
  background-color:var(--primary);
}

#notes {
  background-color:var(--secondary);
  height: 600px;
  width:100%;
  padding-top:300px;
  text-align:center;

}

#contact {
    height: 200px;
    width: 100%;
    background-color:var(--primary)
}

/* footer */

#return {
    height: 40px;
    width: 100%;
    text-align:center;
}



/* Content positiong  */


.navbar-content {
    font-size: 18px;
    float:right;
    padding-right:30px;
    padding-top:15px;
    
}



.hero-content {
 text-align: center;
 padding-top:75px;

}

.bio-content {
   
    text-align: center;
    padding-top:45px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:30px;
    overflow: hidden;
}

#bio p {
   font-size: 16px;
    
}

#skill-content {
text-align: center;
padding-top:30px; 
}   


.column {
  
  background-color: whitesmoke;
 
  
 
}

.row {
  display:grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;

  gap: 10px;
 
}




.contact-content {
text-align: center;
}   

h1 {
    margin: 0;
}

#nav ul li {
    list-style-type:none;
    display:flex; 
}
ul {
margin: 0;
padding: 0;
overflow: hidden;
}

/*Content style */

.nav-icon {
    width: 30px;
    height: 3.5px;
    background-color: black;
    margin: 4px 0;
  }

  #middle-nav-icon {
      color:gray;
  }


.hero-name{
    font-style: 'Roboto';
    font-size:42px;
    color: white;
    text-shadow: 2px 2px #000000;
}
.hero-text{
    font-style: 'Roboto';
    font-size:28px;
    color: white;
    text-shadow: 1px 1px #000000;
}

.bio-content {
    font-style:"Roboto";
    color: white;
    text-shadow: 1px 1px #000000;
}


#skill-content h1 {
font-style: 'Roboto'; 
font-size: 46px;   
color: white;     
text-shadow: 2px 2px #000000;
}


#contact-title {
  font-style:"Roboto";
  font-size: 52px;
  color:white;
  padding-top:15px;
  text-shadow: 2px 2px black;
  }
  
  #icons {
    padding-top:35px;
    color:white;
    font-size:32px;
    text-shadow: 2px 2px black;
  }
      

.return-content {
    font-style: 'Roboto';
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.return-content:hover {
    font-style: 'Roboto';
    color: gray;
    font-size: 20px;
}




/* Curtain menu from w3 schools */

 /* The Overlay (background) */
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  


  /* Media queries Plan to revise this*/

  @media screen and (min-width:200px) { 
    #table {
      width: 80%;
      margin-top: 50px;
      height:400px; 
    }
      #notes {
        height:400px;
       padding-top: 100px;
    }
  }







  @media screen and (min-width:900px) {
    

      #bio p {
        font-size: 22px;
        
     }

     #skill {
       height: 600px;
     }

     #table {
       width: 80%;
       margin-top: 50px;
       
     }

     #contact {
       height: 200px;
     }

  }

  @media screen and (min-width:1200px) { 


    .row {
  
     }

     #table {
      height:550px; 
   
    }


    #notes {
      
     
    }
  }