

*,
::before,
::after {
  box-sizing: border-box;
}


.body {
    
    padding: 0;
    margin: 0; 
}
/* nav bar*/
.nav {
    background-color: black;
    color:white;
    width: 100%;
    height: 40px;
}

/* Container positiong */
.container {
background-image: url(img/chevron.png);
 gap: 0px;
}

h1 {
    margin: 0;
}

#hero {
    background-image: linear-gradient(to bottom, rgba(202, 124, 79, 0.52), rgba(15, 73, 73, 0.73)),url(img/mouse_and_keyboard.jpg);
    background-size:cover;
    font-family: 'Roboto', sans-serif;
    height: 400px;
    width: 100%;
}

#bio {
    background-color: rgb(44, 48, 255);
    height: 400px;
    width: 100%;
   
}


#project {
    background-color: orange;
    height: 400px;
    width: 100%;
    
}



#contact {
    
    height: 400px;
    width: 100%;
    
}



/* Content positiong  */
.nav-content {
    float:right;
    padding: 9px;
    font-size:18px;
}
.hero-content {
 text-align: center;
 padding-top:75px;
   
}

.bio-content {
    text-align: center;
    padding-top:55px;
    padding-left: 50px;
    padding-right: 50px;

}

.project-content {
text-align: center;
padding-top:75px;
      
}   


.contact-content {
text-align: center;
 padding-top:75px;
}   
    



h1 {
    margin: 0;
}


ul {
    list-style-type:none;
}



/*Content style */

a {
color: white;
text-decoration: none;
padding-right:20px;
}

a:hover {
    color:rgb(148, 147, 153);
}

.hero-name{
    font-style: 'Roboto';
    
    font-size:42px;
}
.hero-text{
    
    font-style: 'Roboto';
   
    font-size:28px;
}